/* ------ FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: robot-reavers;
  src: url("/fonts/robot-reavers/RobotReavers.ttf");
}


/* ----- General ----- */
:root {
  --primary-bg: #141414;
  --primary-text: #F3F3F3;
  --secondary-text: #C39A5C;
  --paragraph-text: #cfcfcf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: var(--primary-bg);
  font-family: 'Quantico', sans-serif;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'robot-reavers', sans-serif;
  color: var(--primary-text);
}


a {
  text-decoration: none;
  font-family: 'robot-reavers', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "hero"
    "living"
  ;
}


/* ----- UTILITIES ----- */
.btn {
  width: fit-content;
  padding: .625rem 1.25rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 1px;
  color: var(--primary-text);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-text);
  color: var(--secondary-text);
}

/* ------ Navigation ------ */

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-bg);
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem;
}

.nav__img {
  height: 40px;
  margin-right: .625rem;
}

.nav__heading {
  color: var(--primary-text);
  font-size: 1.5rem;
}

.nav__heading span {
  color: var(--secondary-text);
}

.nav__hamburger-icon {
  color: var(--primary-text);
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

.nav__desktop-items {
  display: none;
}

/* ------HERO----- */
.hero {
  grid-area: hero;
  background-image: url("/assets/photos/09-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.hero__title span {
  color: var(--secondary-text);
}

.hero__btn {
  margin: 2rem auto;
}


/* ------living------- */
.living {
  grid-area: living;
}

.living__main-title {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
}

.living__main-title::after {
  display: inline-block;
  content: " ";
  width: 7.5rem;
  border-bottom: 1px solid var(--secondary-text);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}


.living__card{
  width: 100%;
  padding: 0 20px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.living__img{
  width: 100%;
  width: 280px;
  height: 200px;
  border-radius: 3px;
}

.living__title {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
}

.living__title::after {
  display: inline-block;
  content: " ";
  width: 3.75rem;
  border-bottom: 1px solid var(--paragraph-text);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.living__text {
  color: var(--paragraph-text);
  text-align: center;
  line-height: 1.7;
  max-width: 430px;
}

.living__link {
  color: var(--secondary-text);
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  margin: 1rem 0;
}

.living__link:hover {
  color: var(--primary-text);
}



/* ------------DESKTOP-------- */
@media screen and (min-width: 1024px) {
  /* ------ NAV -------- */
  .nav__items {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__desktop-items {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 10px;
  }

  .nav__desktop-item a {
    color: var(--primary-text);
  }

  .nav__desktop-item a:hover {
    color: var(--secondary-text);
  }

  .btn--secondary {
    background-color: transparent;
    border: 1px solid var(--primary-text);
  }

  /* ------- HERO -------- */

  .hero {
    min-height: calc(93vh);
    background-position: bottom;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__btn {
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    margin-top: 3rem !important;
  }


  /* ------- LIVING ------- */
  .living__wrapper {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
  }

  .living__card {
    justify-content: space-between;
  }

}