/* ------ FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: robot-reavers;
  src: url("/fonts/robot-reavers/RobotReavers.ttf");
}


/* ----- General GLOBAL ----- */
:root {
  --primary-bg: #141414;
  --nav-bg: #161616;
  --primary-text: #F3F3F3;
  --secondary-text: #C39A5C;
  --paragraph-text: #bebebe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-family: 'Quantico', sans-serif;
  height: auto;
  background-color: var(--primary-bg);
}

h1,
h2,
h3,
h4,
button {
  font-family: 'robot-reavers', sans-serif;
  color: var(--primary-text);
}

p {
  font-family: 'Quantico', sans-serif;
  color: var(--paragraph-text);
}

a {
  text-decoration: none;
  font-family: 'robot-reavers', sans-serif;
}

input,
select {
  font-family: 'Quantico', sans-serif;

}



/* ----- UTILITIES GLOBAL ----- */
.link {
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  margin: 1rem 0;
  color: var(--secondary-text);
}

.link:hover {
  color: var(--primary-text);
}

.btn {
  width: fit-content;
  padding: .625rem 1.25rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 1px;
  color: var(--primary-text);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-text);
  color: var(--secondary-text);
}

.section-heading {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
}

.section-heading::after {
  display: inline-block;
  content: " ";
  width: 7.5rem;
  border-bottom: 1px solid var(--secondary-text);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading--sub {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.section-heading--sub::after {
  width: 3.75rem;
  border-bottom: 1px solid var(--paragraph-text);
}

.active-link {
  text-decoration: underline;
}

.hide {
  display: none;
}


/* --------------------------------------------------- INDEX.HTML START ----------------------------------------------------------------- */

/* ------ Navigation ------ */
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--nav-bg);
  z-index: 2;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem;
}

.nav__img {
  height: 40px;
  margin-right: .625rem;
}

.nav__heading {
  color: var(--primary-text);
  font-size: 1.5rem;
}

.nav__heading span {
  color: var(--secondary-text);
}

.nav__hamburger-icon,
.nav__hamburger-close {
  color: var(--primary-text);
  font-size: 1.5rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

.nav__hamburger-close.fa-solid.fa-xmark {
  display: none;
}

.nav__desktop-items {
  display: none;
}

/* ------ SIDEBAR ------- */
.sidebar-mobile {
  position: fixed;
  top: 60px;
  right: 0;
  height: 100vh;
  width: 60%;
  z-index: 10;
  background-color: var(--nav-bg);
  color: white;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

.sidebar-mobile__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 2rem;
}

.sidebar-mobile__item {
  color: var(--primary-text);
  text-align: left;
}

.sidebar-mobile__item:hover {
  color: var(--secondary-text);
}

.show-sidebar {
  transform: translateX(0);
}


/* ------ HERO ----- */
.hero {
  background-image: url("/assets/photos/09-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.hero__title span {
  color: var(--secondary-text);
}

.hero__btn {
  margin: 2rem auto;
}


/* ------ LIVING ------- */
.living__card {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.living__img {
  width: 100%;
  width: 280px;
  height: 200px;
  border-radius: 3px;
}

.living__text {
  text-align: center;
  line-height: 1.7;
  max-width: 430px;
}


/* ------ STATS ------  */
.stats {
  padding: 3.5rem 0;
  background-color: #c39a5c91;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 4rem;
}

.stats__number {
  position: relative;
  font-size: 3.5rem;
}

.stats__number::after {
  content: " ";
  position: absolute;
  bottom: -0.9375rem;
  left: 50%;
  width: 3.75rem;
  border-bottom: 1px solid var(--primary-text);
  transform: translateX(-50%);
}

.stats__info {
  text-align: center;
}


/* ------ ROOMS -------- */
.rooms__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 3rem auto;
  gap: 30px;
}

.rooms__room {
  padding: 0 20px;
  text-align: center;
}

.rooms_img {
  margin: 0 auto;
  height: 200px;
  width: 280;
  border-radius: 3px;
  background-image: url("/assets/photos/08-night.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.rooms__room-2 .rooms_img {
  background-image: url("/assets/photos/04-night.jpg");
}

.rooms__room-2 .rooms_img:hover {
  background-image: url("/assets/photos/04-day.jpg");
}

.rooms__room-3 .rooms_img {
  background-image: url("/assets/photos/05-night.jpg");
}

.rooms__room-3 .rooms_img:hover {
  background-image: url("/assets/photos/05-day.jpg");
}

.rooms_img:hover {
  background-image: url("/assets/photos/08-day.jpg");
}

.rooms_title {
  font-family: 'Quantico', sans-serif;
}

.rooms__text {
  max-width: 300px;
  margin: 0 auto;
}

.rooms__link {
  display: block;
}


/* ---------BULLET-POINTS----------- */
.bullet-points {
  padding-bottom: 6rem;
  background-color: var(--primary-bg);
}

.bullet-points__items {
  padding: 3rem 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.bullet-points__title {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.bullet-points__icon {
  width: 47px;
  height: 47px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--primary-text);
  color: var(--primary-bg);
  border-radius: 50%;
  padding: .625rem;
}

.bullet-points__texts {
  margin-top: 0.65rem;
}

.bullet-points__text {
  margin: 1rem 0;
  max-width: 400px;
}

.bullet-points__heading {
  padding: 0;
  position: static;
  font-size: 1.2rem;
  width: max-content;
}

.bullet-points__heading.section-heading::after {
  content: none;
}


/* -------- FOOTER--------- */
.footer {
  background-color: var(--nav-bg);
  text-align: center;
  padding: 4rem 10px;
}

.footer__items {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__title {
  margin-bottom: 1rem;
}

.footer__address a {
  display: inline-block;
  margin: 0.3rem 0;
  color: var(--paragraph-text);
  text-decoration: none;
}

.footer__payment {
  margin: 2rem 0;
}

.footer__title-2 {
  color: var(--secondary-text);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer_vintage-text {
  max-width: 400px;
  margin: 0 auto;
}

.footer__socials {
  margin: 2rem 0;
}

.footer__socials-title {
  margin-bottom: 1rem;
}

.footer h2,
.footer p {
  font-family: 'Quantico', sans-serif;
}

.footer i {
  color: var(--paragraph-text);
  font-size: 2rem;
  margin-right: 1rem;
}

.footer__socials i:hover {
  color: var(--primary-text);
  cursor: pointer;
}

/* --------------------------------------------------- INDEX.HTML END ----------------------------------------------------------------- */


/* --------------------------------------------------- BOOK.HTML START ----------------------------------------------------------------- */

/* ----- ROOM LIST ----- */
.room-list__rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}

.room-list__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-list__sort {
  background-color: rgb(50, 50, 50);
}

.room-list__room {
  margin: 2rem 1rem;
  max-width: 350px;
}

.room-list__room {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.room-list__img {
  flex: 1;
}

.room-list__info {
  flex: 1;
  padding: 0 10px 1rem 10px;
  background-color: var(--nav-bg);
}

.room-list__type {
  font-family: 'Quantico', sans-serif;
  margin-top: .625rem;
  font-size: 1.4rem;
}

.room-list__city {
  margin-bottom: .4375rem;
}

.room-list__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--paragraph-text);
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.room-list__review-text {
  font-size: 1.1rem;
}

.room-list__rating {
  font-weight: bold;
  color: rgb(34, 126, 34);
}

.room-list__price {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  color: #886530;
  padding-top: 1rem;
}

.room-list__price-info {
  text-align: right;
  font-size: .75rem;
}

.room-list__book {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.3rem;
}

/* ------ SORT ----- */
.showSort {
  display: block !important;
}

.sort {
  display: none;
  color: var(--paragraph-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: var(--primary-bg);
  width: 100vw;
  min-height: 100vh;
}


.sort__header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--nav-bg);
  position: sticky;
  top: 0;
}

.sort__close-icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.sort__close-icon:hover {
  color: var(--primary-text);
}

.sort label {
  color: var(--primary-text);
}

.sort__wrapper {
  padding: 1rem;
  padding-bottom: 3rem;
}

.sort select,
.sort input {
  max-width: 400px;
}

.sort__checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sort__option {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sort__option label {
  margin-bottom: 3px;
}

.sort__price-text {
  font-size: .875rem;
  margin-bottom: .3125rem;
}

#price-slider {
  max-width: 400px;
  width: 100%;
  margin-bottom: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--paragraph-text);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 3px;
}

#price-slider:hover {
  opacity: 1;
}

#price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-text);
  cursor: pointer;
  border-radius: 3px;
}

#price-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--secondary-text);
  cursor: pointer;
}

/* --------------------------------------------------- BOOK.HTML END ----------------------------------------------------------------- */

/* --------------------------------------------------- ABOUT.HTML START ----------------------------------------------------------------- */
#particles-js {
  position: relative;
  display: flex;
  justify-content: center;
  height: 620vh;
  max-height: 3450px;
}

.about-wrapper {
  position: absolute;
  max-width: 1200px;
  width: 100%;
}

.about {
  padding: 0 .9375rem;
  width: 100%;
}

.about img {
  opacity: 60%;
  border-radius: 3px;
  max-width: 500px;
  width: 100%;
  margin: 1rem 0;
}

.about p {
  text-align: center;
  max-width: 800px;
}

.about__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.about__intro img {
  max-width: 800px;
}

.about__facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.about__facility-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 40px;
}

.about__colleagues {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.about__persons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 10px;
}

.about__person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__person-img {
  border-radius: 50% !important;
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  margin-bottom: 0 !important;
}

.about__person-img--rodriguez {
  object-position: 100%;
}

.about__person-img--ceo {
  min-width: 280px;
  min-height: 280px;
  object-position: 80%;
}

.about__person-name {
  font-family: 'Quantico', sans-serif;
  font-size: 1.4rem;
}

.about__person-job {
  text-align: left !important;
}



/* --------------------------------------------------- ABOUT.HTML END ----------------------------------------------------------------- */




/* --------------------------------------------------- MEDIA QUERIES START ----------------------------------------------------------------- */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .sidebar-mobile {
    width: 300px;
  }
}



/* -------- TABLET -------- */
@media screen and (min-width: 630px) and (max-width: 959px) {
  /* --------------------------------------------------- INDEX.HTML START ----------------------------------------------------------------- */

  /* -------- ROOMS ------- */
  .rooms__room-3 {
    grid-column: span 2;
  }

  .rooms__room-3 figure {
    min-height: 300px;
    background-position: center 80%;
  }

  /* --------------------------------------------------- INDEX.HTML END ----------------------------------------------------------------- */

}


/* ------------ DESKTOP -------- */
@media screen and (min-width: 1024px) {

  /* --------------------------------------------------- INDEX.HTML START ----------------------------------------------------------------- */
  /* ------ NAV -------- */
  .nav__logo {
    padding: 0.625rem 0;
  }

  .nav__items {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__desktop-items {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-right: 10px;
  }

  .nav__desktop-item a {
    color: var(--primary-text);
  }

  .nav__desktop-item a:hover {
    color: var(--secondary-text);
  }

  .btn--secondary {
    background-color: transparent;
    border: 1px solid var(--primary-text);
  }


  /* ------- HERO -------- */
  .hero {
    min-height: calc(93vh);
    background-position: bottom;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__btn {
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    margin-top: 3rem !important;
  }


  /* ------- LIVING ------- */
  .living__cards {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
  }

  .living__card {
    justify-content: space-between;
  }


  /* ------- STATS ----- */
  .stats {
    padding: 8rem 0;
  }

  .stats__items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .stats__item {
    margin: 0;
  }


  /* ------ FOOTER ------ */
  .footer__items {
    display: flex;
    justify-content: space-between;
  }

  .footer__socials {
    margin: 0;
  }

  .footer__copyright {
    margin-top: 3rem;
  }

  /* --------------------------------------------------- INDEX.HTML END ----------------------------------------------------------------- */

  /* --------------------------------------------------- BOOK.HTML START ----------------------------------------------------------------- */

  /* -----ROOM ----- */
  .main__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
      "sort room-list"
    ;
    max-width: 1200px;
    margin: 0 auto;
  }

  .sort {
    grid-area: sort;
    display: block;
    position: static;
    width: 100%;
    z-index: 1;
    top: auto;
    left: auto;
    margin-top: 12rem;
  }

  .sort::before {
    content: "Filter";
    font-size: 1.3rem;
  }

  .sort__header {
    display: none;
  }

  .room-list__rooms {
    grid-area: room-list;
  }

  .room-list__room {
    max-width: 450px;
  }

  .room-list__sort {
    display: none;
  }

  /* --------------------------------------------------- BOOK.HTML START ----------------------------------------------------------------- */

}

@media screen and (min-width: 1070px) {
  #particles-js {
    max-height: 2800px;
  }
}


/* ------ DESKTOP XL ------ */
@media screen and (min-width: 1570px) {
  /* --------------------------------------------------- INDEX.HTML START ----------------------------------------------------------------- */

  /* ------ STATS ------ */
  .stats {
    background-image: url("/assets//photos/egna\ bilder/cyborg.png");
    background-repeat: no-repeat;
    background-position: 97%;
  }

  /* --------------------------------------------------- INDEX.HTML END ----------------------------------------------------------------- */

}

/* --------------------------------------------------- MEDIA QUERIES END ----------------------------------------------------------------- */