/* ------ FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: robot-reavers;
  src: url("/fonts/robot-reavers/RobotReavers.ttf");
}


/* ----- General ----- */
:root {
  --primary-bg: #141414;
  --nav-bg: #161616;
  --primary-text: #F3F3F3;
  --secondary-text: #C39A5C;
  --paragraph-text: #bebebe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-family: 'Quantico', sans-serif;
  height: auto;
  background-color: var(--primary-bg);
}

h1,
h2,
h3,
h4,
button {
  font-family: 'robot-reavers', sans-serif;
  color: var(--primary-text);
}

p {
  font-family: 'Quantico', sans-serif;
  color: var(--paragraph-text);
}

a {
  text-decoration: none;
  font-family: 'robot-reavers', sans-serif;
}


/* ----- UTILITIES ----- */
.link {
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  margin: 1rem 0;
  color: var(--secondary-text);
}

.link:hover {
  color: var(--primary-text);
}

.btn {
  width: fit-content;
  padding: .625rem 1.25rem;
  background-color: var(--secondary-text);
  border: none;
  border-radius: 1px;
  color: var(--primary-text);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-text);
  color: var(--secondary-text);
}

.section-heading {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
}

.section-heading::after {
  display: inline-block;
  content: " ";
  width: 7.5rem;
  border-bottom: 1px solid var(--secondary-text);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading--sub {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.section-heading--sub::after {
  width: 3.75rem;
  border-bottom: 1px solid var(--paragraph-text);
}


/* ------ Navigation ------ */
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--nav-bg);
  z-index: 2;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem;
}

.nav__img {
  height: 40px;
  margin-right: .625rem;
}

.nav__heading {
  color: var(--primary-text);
  font-size: 1.5rem;
}

.nav__heading span {
  color: var(--secondary-text);
}

.nav__hamburger-icon {
  color: var(--primary-text);
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

.nav__desktop-items {
  display: none;
}


/* ------ HERO ----- */
.hero {
  background-image: url("/assets/photos/09-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.hero__title span {
  color: var(--secondary-text);
}

.hero__btn {
  margin: 2rem auto;
}


/* ------ LIVING ------- */
.living__card {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.living__img {
  width: 100%;
  width: 280px;
  height: 200px;
  border-radius: 3px;
}

.living__text {
  text-align: center;
  line-height: 1.7;
  max-width: 430px;
}


/* ------ STATS ------  */
.stats {
  padding: 3.5rem 0;
  background-color: var(--secondary-text);
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 4rem;
}

.stats__number {
  position: relative;
  font-size: 3.5rem;
}

.stats__number::after {
  content: " ";
  position: absolute;
  bottom: -0.9375rem;
  left: 50%;
  width: 3.75rem;
  border-bottom: 1px solid var(--primary-text);
  transform: translateX(-50%);
}

.stats__info {
  text-align: center;
}


/* ------ ROOMS -------- */
.rooms__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 3rem auto;
  gap: 30px;
}

.rooms__room {
  padding: 0 20px;
  text-align: center;
}

.rooms_img {
  margin: 0 auto;
  height: 200px;
  width: 280;
  border-radius: 3px;
  background-image: url("/assets/photos/08-night.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.rooms__room-2 .rooms_img {
  background-image: url("/assets/photos/04-night.jpg");
}

.rooms__room-2 .rooms_img:hover {
  background-image: url("/assets/photos/04-day.jpg");
}

.rooms__room-3 .rooms_img {
  background-image: url("/assets/photos/05-night.jpg");
}

.rooms__room-3 .rooms_img:hover {
  background-image: url("/assets/photos/05-day.jpg");
}

.rooms_img:hover {
  background-image: url("/assets/photos/08-day.jpg");
}

.rooms_title {
  font-family: 'Quantico', sans-serif;
}

.rooms__text {
  max-width: 300px;
  margin: 0 auto;
}

.rooms__link {
  display: block;
}


/* ---------BULLET-POINTS----------- */
.bullet-points {
  padding-bottom: 6rem;
  background-color: var(--primary-bg);
}

.bullet-points__items {
  padding: 3rem 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.bullet-points__title {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.bullet-points__icon {
  width: 47px;
  height: 47px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--primary-text);
  color: var(--primary-bg);
  border-radius: 50%;
  padding: .625rem;
}

.bullet-points__texts {
  margin-top: 0.65rem;
}

.bullet-points__text {
  margin: 1rem 0;
  max-width: 400px;
}

.bullet-points__heading {
  padding: 0;
  position:static;
  font-size: 1.2rem;
  width: max-content;
}


/* -------- FOOTER--------- */
.footer {
  background-color: var(--nav-bg);
  text-align: center;
  padding: 4rem 10px;
}

.footer__items {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__title {
  margin-bottom: 1rem;
}

.footer__address a {
  display: inline-block;
  margin: 0.3rem 0;
  color: var(--paragraph-text);
  text-decoration: none;
}

.footer__payment {
  margin: 2rem 0;
}

.footer__title-2 {
  color: var(--secondary-text);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer_vintage-text {
  max-width: 400px;
  margin: 0 auto;
}

.footer__socials {
  margin: 2rem 0;
}

.footer__socials-title {
  margin-bottom: 1rem;
}

.footer h2, .footer p{
  font-family: 'Quantico', sans-serif;
}

.footer i {
  color: var(--paragraph-text);
  font-size: 2rem;
  margin-right: 1rem;
}

.footer__socials i:hover {
  color: var(--primary-text);
  cursor: pointer;
}


/* -------- TABLET -------- */
@media screen and (min-width: 630px) and (max-width: 959px) {
  /* -------- ROOMS ------- */
  .rooms__room-3 {
  grid-column: span 2;
}

.rooms__room-3 figure{
  min-height: 300px;
  background-position: center 80%;
}
}


/* ------------ DESKTOP -------- */
@media screen and (min-width: 1024px) {
  /* ------ NAV -------- */
  .nav__logo {
    padding: 0.625rem 0;
  }

  .nav__items {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__desktop-items {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-right: 10px;
  }

  .nav__desktop-item a {
    color: var(--primary-text);
  }

  .nav__desktop-item a:hover {
    color: var(--secondary-text);
  }

  .btn--secondary {
    background-color: transparent;
    border: 1px solid var(--primary-text);
  }


  /* ------- HERO -------- */
  .hero {
    min-height: calc(93vh);
    background-position: bottom;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__btn {
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    margin-top: 3rem !important;
  }


  /* ------- LIVING ------- */
  .living__cards {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
  }

  .living__card {
    justify-content: space-between;
  }


  /* ------- STATS ----- */
  .stats {
    padding: 8rem 0;
  }

  .stats__items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .stats__item {
    margin: 0;
  }


  /* ------ FOOTER ------ */
  .footer__items {
    display: flex;
    justify-content: space-between;
  }

  .footer__socials {
    margin: 0;
  }

  .footer__copyright {
    margin-top: 3rem;
  }
}




/* ------ DESKTOP XL ------ */
@media screen and (min-width: 1570px) {
  /* ------ STATS ------ */
  .stats {
    background-image: url("/assets//photos/egna\ bilder/cyborg.png");
    background-repeat: no-repeat;
    background-position: 97%;
  }
}